<h1 align="center">Assignments</h1>
<%if current_user.has_role? :Teacher%>
	<h3><%=link_to "Add Assignment" , new_assignment_path%></h3>
<%end%>
<%if @assignments.flatten.present?%>
	<table class="table">
		<tr>
			<th>Subject</th>
			<th>Description</th>
			<th colspan="2">Action</th>
		</tr>
		<tr>
			<%@assignments.flatten.each do |assignment|%>
				<td><%=assignment.subject%></td>
				<td><%=assignment.description%></td>
				<td><%=link_to "Assigned" , assigned_path(assignment.id)%></td>
				<td><%=link_to "Show" , assignment_path(assignment.id)%></td>
		</tr>
			<%end%>	
	</table>
<%end%><br/>
<%if @assignment_coordinators.flatten.present?%>
	<table class="table">
		<tr>
			<th>Subject</th>
			<th>Description</th>
			<th>Action</th>
		</tr>
		<tr>
			<%@assignment_coordinators.flatten.each do |assignment|%>
				<td><%=assignment.subject%></td>
				<td><%=assignment.description%></td>
				<td><%=link_to "Show" , assignment_path(assignment.id)%></td>
		</tr>
			<%end%>	
	</table>
<%end%>