<div class="container">
  <%= form_for @assignment do |f| %>
    <%=f.fields_for :@assignment  do |assignment|%>
      <%=assignment.label :subject%>
      <%= assignment.text_field :subject, required: true, class: "form-control", placeholder: "subject" %>
    <%end%>

     <%= link_to_add_association f.assignment do %>
      <i class="icon-cancel-circled"></i>Add More
     <% end %>
    <%= f.button :submit, class:'btn btn-primary'%>
  <% end %>
</div>
