<div class="form-bg">  
  <div class="form-main-container">
    <h2>Sign up here</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>

        

        <%= f.password_field :password, autocomplete: "off", placeholder:"Password(6 character minimum)" %>


        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirm Password" %>


        <%=select_tag "role", options_for_select(Role.all.collect{|t| [t.name]}),include_blank: "Please Choose Your Role" ,:required => true%>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div><br>
    <% end %>
    <%= render "devise/shared/links" %>
    <%- if controller_name != 'sessions' %>
      Already Register! <%= link_to "Log in", new_session_path(resource_name), class: "signup_link" %><br />
    <% end -%>
  </div>
</div>  
